.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto 30px;
}

.header .hr {
    display: none;
}

.darkmod-switch {
    display: flex;
    align-items: center;
    color: #aeb2cb;
}

.header .headerHeader {
    color: #696d79;
}

.header .headerHeader .headerHeaderH1 {
    color: #000;
}

body.dark .header .headerHeader .headerHeaderH1 {
    color: #feffff;
}

.toggle {
    visibility: hidden;
    /* display: none; */
}

.label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #aeb2cb;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 .5rem;
    position: relative;
}

.toggle:checked + .label{
    background-image: linear-gradient(90deg, #378fe6, #3eda82);
    transition: 500ms ease-in-out;

}

.ball {
    background-color: white;
    height: 16.5px;
    width: 16.5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.toggle:checked + .label .ball {
    left: 2px;
    right: auto;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        width: 90%;
    }

    .header .headerHeader {
        width: 100%;
    }

    .header .headerHeader .headerHeaderH1 {
        width: 100%;
        white-space: nowrap;
        font-size: 28px;
    }

    .header .hr {
        width: 100%;
        margin: 10px 0;
        display: block;
        opacity: .5;
    }

    .darkmod-switch {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}

@media (max-width: 355px) {
    .header .headerHeader .headerHeaderH1 {
        white-space: pre-wrap;
    }
}