.mainCardsContainer {
  max-width: 1000px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.subCardContainer {
  max-width: 1000px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.subHeader {
  color: #676976;
}

body.dark .subHeader {
  color: #feffff;
}
